body {
    background-color: skyblue;
    }
h2{
    color: red;
}

nav{
    color: red
}
.nav{
    margin-bottom:15px;
}
table{
    color: red;
}
.nav{
    font-size: 13px;
    line-height: 22px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4px 15px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    color: #79589f;
    background: #fff;
}