.container { 
    background-color: greenyellow;
    width: 70%;
    height: 450px;
    margin: 8px;
    display: flex;
    justify-content: flex-end;
}

.nav {
    background-color: blue;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.container2 {
    background-color: greenyellow;
    width: 70%;
    height: 450px;
    margin: 8px;
    display: flex;
    justify-content: flex-end;
}

.container3 {
    background-color: greenyellow;
    width: 70%;
    height:450px;
    margin: 8px;
    display: flex;
    align-items: flex-end;
}

.container4 {
    background-color: greenyellow;
    width: 70%;
    height: 450px;
    margin: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.container5 {
    background-color: greenyellow;
    width: 70%;
    height: 450px;
    margin: 8px;
    display: flex;
    justify-content: center;
}

.container6 {
    background-color: greenyellow;
    width: 70%;
    height: 450px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container7 {
    background-color: greenyellow;
    width: 70%;
    height: 450px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container8 {
    background-color: greenyellow;
    width: 70%;
    height: 450x;
    margin: 8px;
    display: flex;
}

.container9 {
    background-color: greenyellow;
    width: 70%;
    height: 450px;
    margin: 8px;
    display: flex;
    justify-content: center;
}

.container10 {
    background-color: greenyellow;
    width: 70%;
    height: 450px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container11 {
    background-color: greenyellow;
    width: 70%;
    height: 450px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container12 {
    background-color: greenyellow;
    width: 70%;
    height: 450px;
    margin: 8px;
    display: flex;
}
.link {
    background-color: rgb(20, 255, 140);
    text-decoration: none;
    padding: 5px;
    border-radius: 1px;
    margin: 1px;
    font-size: 15px;
    transition: 0.3s;
    display: inline-block;
    }
    
.link:hover {
    background-color: rgb(122, 151, 137);
    padding: 5px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 37px;
    border-top-right-radius: 40px;
    border-top-left-radius: 20px;
    margin: 5px;
    font-size: 20px;
}
.link2 {
    background-color: rgb(20, 255, 140);
    text-decoration: none;
    padding: 10px;
    border-radius: 1px;
    margin: 1px;
    transition: 0.2s;
    display: inline-block;
}
        
.link2:hover {
    background-color: rgb(163, 161, 59);
    padding: 15;
    border-bottom-right-radius: 27px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 25px;
    border-top-left-radius: 50px;
    margin: 5px;
    font-size: 20px;
}
.link3 {
    background-color: rgb(20, 255, 140);
    text-decoration: none;
    padding: 10px;
    border-radius: 1px;
    margin: 1px;
    transition: 0.2s;
    display: inline-block;
}           
.link3:hover {
    background-color: rgb(20, 24, 255);
    padding: 15;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 35px;
    margin: 5px;
    font-size: 20px;
}
.link4 {
    background-color: rgb(20, 255, 140);
    text-decoration: none;
    padding: 10px;
    border-radius: 1px;
    margin: 1px;
    transition: 0.2s;
    display: block;
}
                
.link4:hover {
    background-color: rgb(255, 20, 20);
    padding: 15;
    border-bottom-right-radius: 31px;
    border-bottom-left-radius: 27px;
    border-top-right-radius: 10px;
    border-top-left-radius: 50px;
    margin: 5px;
}