body {
    background-color: skyblue;
    }
h2{
    color: red;
}
h1{
    color: black;
    margin-top: 20px;
    font-size: 25px;
    font-family: Helvetica, Verdana, Arial;
    text-align: center;
}
nav{
    color: red
}
.nav{
    margin-bottom:15px;
    display:flex;
    justify-content: space-around;
}
table{
    color: red;
}
.navlink{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 4px 16px;
    text-align: center;
    cursor: pointer;
}